@charset "UTF-8";

/* 共通部分 
-----------------------*/
html {
    font-size: 100%;
}
body {
    font-family: 'Sawarabi Gothic', sans-serif;
    color: #000000;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000000;
}
img {
    max-width: 100%;
}
textarea {
    vertical-align: top;
}

/* 
Header
--------------------------*/
.home_header {
    padding: 10px;
    text-align: center;
    position: relative;
    z-index: 9999;
}
.logo_link {
    font-family: 'Dela Gothic One', cursive;
    font-weight: 700;
    color: #FA8072;
}

.second_header {
    background-color: #FA8072;
    padding: 5px 10% 15px 10%;
    color: #ffffff;
    display: flex;
    border-radius: 0px 0px 30px 30px;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 8888;
}
.second_header h2 {
    height: 100%;
}
.icons_wrap {
    display: flex;
    right: 50px;
    position: absolute;
}
.icons_wrap li {
    margin-left: 30px;
}
.icon_wrap {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
    font-size: 1.5rem;
    color: #ffffff;
}
.icon_wrap p {
    font-size: 0.5rem;
}
/*ホバー時に色変更*/
.icon_wrap :hover {
    color: #000000;
}

/* 
計画一覧部分
--------------------------*/
.main_content {
    height: 100vh;
    margin-top: -30px;
    background-color: #d3d3d3;
}
.plans {
    display: grid;
    grid-template-columns: repeat(auto-fit,400px);
    grid-template-rows: auto;
    gap: 30px;
    justify-content: center;
    padding-top: 80px;
}
.plan_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);
}
.plan_list {
    padding: 10px 20px;
}
.plan_day {
    font-size: 0.5rem;
}
.action_icons {
    margin: 10px 20px;
    padding: 5px;
    border-left: solid #000000 1px;
}
.plan_icon {
    height: 100%;
    padding-left: 15px;
}
/*ホバー時に色変更*/
.plan_icon :hover {
    color: #FA8072;
}

/* 
フォーム関連
--------------------------*/
.form_content {
    height: 100vh;
    background-color: #d3d3d3;
}
.form_wrap {
    background-color: #ffffff;
    width: 70%;
    max-width: 700px;
    margin: 100px auto;
    text-align: center;
    border-radius: 30px 30px;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);
}
.form_headline {
    background-color: #FA8072;
    color: #ffffff;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 30px 30px 0px 0px;
}
.form_headline i {
    vertical-align: -6px;
    padding-right: 10px;
}
.forms {
    display: inline-block;
    text-align: left;
}
.form_item {
    margin: 5% auto;
}
.form_title {
    display: block;
    padding-left: 5px;
    border-left: solid #FA8072 3px;
    margin-bottom: 5px;
}
.form_date {
    display: flex;
    justify-content: space-between;
}
.form_date input[type="text"] {
    height: 36px;
}
.form_reserve {
    display: flex;
    justify-content: space-between;
}
.form_reserve input[type="text"] {
    width: 180px;
}
/* 枠をつける */
input[type="text"],
input[type="email"],
input[type="number"],
textarea {
    border: solid 1px #d3d3d3;
    padding: 2%;
    width: 100%;
}
input[type="date"],
input[type="datetime-local"] {
    position: relative;
    padding: 0 10px;
    width: 150px;
    height: 36px;
    border: 1px solid #d3d3d3;
    background: transparent;
    box-sizing: border-box;
    font-size: 14px;
}
/* チェックボックス */
input[type="checkbox"] {
    display: none;
}
.checkbox_text {
    display: flex;
    margin: 0 auto;
    width: fit-content;
    font-size: 80%;
    position: relative;
}
/* 四角のチェックボックスの作成 */
.checkbox_text::before {
    content: '';
    border: 1px solid #d3d3d3;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
/* チェック済みのときにチェックマークを表示 */
input[type="checkbox"]:checked + .checkbox_text::after {
    content: '';
    position: absolute;
    bottom: 0;
    top: 0;
    left: 8px;
    margin: auto;
    width: 10px;
    height: 15px;
    border-right: 2px solid #FA8072;
    border-bottom: 2px solid #FA8072;
    transform: rotate(45deg);
}
/* ボタン */
.btns {
    text-align: center;
}
.keep_btn {
    display: inline-block;
    width: 120px;
    height: 35px;
    color: #FFFFFF;
    background-color: #FA8072;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 10px 10px;
    transition: all 0.3s ease-out;
}
.keep_btn:hover {
    background-color: #FA807200;
    outline: solid 1px #FA8072;
    color: #FA8072;
}
.cancel_btn {
    display: inline-block;
    width: 120px;
    height: 35px;
    color: #FFFFFF;
    background-color: #000000;
    margin-bottom: 10px;
    border-radius: 10px 10px;
    transition: all 0.3s ease-out;
    padding: 5px 0;
}
.cancel_btn:hover {
    background-color: #00000000;
    outline: solid 1px #000000;
    color: #000000;
}
/* セレクトボックス */
.select {
    display: inline-block;
    position: relative;
    border: 1px solid #d3d3d3;
    vertical-align: middle;
}
.select select {
    appearance: none;
    width: 85px;
    padding: 11px 15px;
    padding-right: 1em;
    border: none;
    outline: 0;
    background-image: none;
    box-shadow: none;
    text-indent: 0.01px;
    text-overflow: ellipsis;
    cursor: pointer;
}
.select::before {
    position: absolute;
    top: 18px;
    right: 16px;
    width: 0;
    height: 0;
    border-width: 10px 5px 0 5px;
    border-style: solid;
    border-color: #d3d3d3 transparent transparent transparent;
    content: "";
    pointer-events: none;
}
/* エラーメッセージ */
.errors {
    color: #FA4632;
    list-style: none;
}
.errors li {
    padding: 1%;
    margin-bottom: 1%;
    font-size: 80%;
}

/* 
スケジュール部分
--------------------------*/
.schedules {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 30px;
    padding-top: 80px;
}
.schedule_wrap {
    width: 600px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);
    align-items: center;
    display: grid;
    grid-template-columns: 150px auto 180px;
}
.plun_subject {
    display: flex;
}
.plan_detail {
    display:none;
    font-size: 90%;
    margin: 10px;
    grid-column-start: 1;
    grid-column-end: 4;
}
.detail_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    margin: 5px auto;
    padding-left: 20px;
    background-color: #FACDC8;
    color: #808080;
    outline: solid 1px #FACDC8;
    border-radius: 13px 13px;
    font-size: 90%;
}
.detail_content {
    padding: 3px 20px;
    width: 200px;
    background-color: #FFFFFF;
}
.time {
    font-size: 0.9rem;
    line-height: 15px;
    padding: 5px 15px;
    text-align: center;
}
.time span {
    font-size: 90%;
    color: #808080;
}
/* 詳細ボタンの代わり */
.ellipse::before {
    content:"";
    display:block;
    position:absolute;
}
.ellipse:hover {
    color: #FA8072;
}
label[for="detail-box1"]{
    display: block;
}
/* ボタンクリックで詳細の表示 */
#detail-box1:checked ~ .plan_detail {
    display: block;
}

/* テスト用 */
label[for="detail-box2"]{
    display: block;
}
#detail-box2:checked ~ .plan_detail {
    display: block;
}
label[for="detail-box3"]{
    display: block;
}
#detail-box3:checked ~ .plan_detail {
    display: block;
}

/* 予約関連　*/
.reserve_mark {
    text-align: center;
    width: 50px;

}
.reserve_mark p {
    font-size: 0.8rem;
}
.right_wrap {
    display: flex;
    margin:0 0 0 auto;
    align-items: center;
}
.already {
    background-color: #b8e6dc;
    color: #7a9992;
}
.not_yet {
    background-color: #e6b8c2;
    color: #997a81;
}
.unnecessary {
    background-color: #d3d3d3;
    color: #808080;
}
/* 費用の表示　*/
.cost_tab {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);
    text-decoration: none;
    position: fixed;
    bottom: 100px;
    right: 10%;
    background: #FA8072;
    color: #FFFFFF;
    padding: 5px 15px 10px 15px;
}
.cost_wrap {
    text-align: center;
    font-size: 0.8rem;
}
.cost_wrap p {
    background-color: #FFFFFF;
    color: #FA8072;
    width: 90px;
    font-size: 1rem;
}
/* 
Footer
--------------------------*/
.footer {
    text-align: center;
    font-size: 0.5rem;
    color: #FA8072;
    padding: 20px;
    border-top: solid #FA8072 5px;
}
